/.web-server-pid
/app/config/parameters.yml
/app/Resources/sqlite-31.db
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

.arcconfig
generated/
!generated/.gitkeep
/raml/
!raml/.gitkeep

bin/
!bin/console
!bin/symfony_requirements
